/* Main weather container */
#weather-container {
    background: rgba(255, 255, 255, 0.2);
    max-width: 450px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    overflow: hidden;
    padding-bottom: 10px; /* Reduce bottom padding */
}


/* Input and Button styles */
.location-input, .location-button {
    width: calc(100% - 20px);
    padding: 12px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    font-size: 16px;
}

.location-input {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
}

.location-button {
    background: #2980b9; /* Blue button */
    color: rgb(6, 5, 5);
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.location-button:hover {
    background: #1f648f; /* Darker blue on hover */
}

.location-button:focus {
    outline: none;
}

/* Weather display area */
#temp-div p {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0; /* Reduced margin for tighter spacing */
}

#weather-info {
    font-size: 22px;
    color: #fff;
    margin: 5px 0; /* Reduced margin to bring elements closer */
}

/* Weather icon styling */
#weather-icon {
    width: 150px;
    height: 150px;
    margin: 20px auto;
    display: none; /* Hide the icon by default */
}

/* Hourly forecast container */
#hourly-forecast {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px; /* Adds space between the icons and the scroll bar */
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
    margin-bottom: 20px; /* Adds space at the bottom of each hourly item */
}

.hourly-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.hourly-item span {
    font-size: 14px;
}

/* Styling for hourly heading */
#hourly-heading {
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
}

/* Additional Button Style for Geolocation */
.location-button#geo-location {
    background: #2980b9; /* Blue button */
    font-size: 18px;
    margin-top: 20px;
}

.location-button#geo-location:hover {
    background: #1f648f; /* Darker blue on hover */
}
